<!doctype html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>吴永聪的博客</title>
    <link rel="icon" href='/static/wyc.png' type="image/x-icon"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://picturebag.qiniudn.com/blog.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .div1{
            position:fixed;
            right:0;
            top:30%;
            background-color: rgba(4, 4, 3,0.1);
            margin-left: -20px;
            }


    </style>
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title"><a href="{% url 'blog_home' %}">Wyc Blog</a></h1>
            <h2 class="brand-tagline">吴永聪   YongCong Wu</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/blog/home/">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-error pure-button" href="https://www.cnblogs.com/wuyongcong/" target="view_window">博客园</a>
                    </li>
                     <li class="nav-item">
                        <a class="button-success pure-button" href="/blog/add_article/">添加文章</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#myModal" class="button-success pure-button">添加分类</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="/">About Me</a></li>
                        <li><a href="/">微博</a></li>
                        <li><a href="/">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>



<div class="div1">
    <ul style="list-style:none">
        {% for i in txt_class %}
            <li style="cursor:pointer;"><span style="color: black; font-size: 15px; margin-top: 5px"><a href="{% url 'class_list' id=i.id %}">{{ i.name }}</a></span></li>
        {% endfor %}
    </ul>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					分类名称
				</h4>
			</div>
            <form method="post" action="/blog/add_classification/">
			<div class="modal-body">
                    {% csrf_token %}
                    	<div class="form-group">
                        <input type="text" class="form-control" name="class_name" id="name"
                               placeholder="请输入分类名称">
                    </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<input type="submit" class="btn btn-primary" value="提交分类"/>
			</div>
             </form>
		</div>
	</div>
</div>

</body>
</html>